---
import Header from "@/components/ui/Header.astro";
import Footer from "@/components/ui/Footer.astro";
import BuiltByAidil from "@/components/ui/BuiltByAidil.astro";
import "@/styles/global.css";

const { pageTitle } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle} | MY Makmal Sains</title>
  </head>
  <body class="bg-bodyColor font-PlusJakartaSans text-textPrimary">
    <Header />
    <slot />
    <BuiltByAidil />
    <Footer />
  </body>
</html>
