<div class="main-layout bg-black text-white w-max rounded-t-lg py-3">
  <p class="flex gap-2">
    Dibangunkan oleh <a
      class="font-bold hover:underline"
      target="_blank"
      href="https://aidiliskandar.com">Aidil Iskandar</a
    >
  </p>
</div>
